.image-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 0 10px;
    grid-auto-rows: 10px;
}
.image-list img {
    width:250px;
        border: 6px solid white;
    grid-row-end: span 3;
}
body {
        background: #f4f4f4;
}
.grid-hovereffect {
        position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1000px;
    list-style: none;
    text-align: center;
}

.grid-hovereffect figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
  
    max-height: 270px;
 
    text-align: center;
    cursor: pointer;
}
figure.hover-effect9:hover img {
    opacity: 0.4;
}
figure.hover-effect9 img {
    opacity: 0.7;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}
.grid-hovereffect figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}
.grid-hovereffect figure figcaption, .grid-hovereffect figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.grid-hovereffect figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
figure.hover-effect9 figcaption::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}
figure.hover-effect9 figcaption::before, figure.hover-effect9 figcaption::after {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}
figure.hover-effect9 figcaption::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
}
figure.hover-effect9:hover figcaption::before, figure.hover-effect9:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
figure.hover-effect9 p {
    padding: 20px 2.5em;
    opacity: 0;

    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
}
figure.hover-effect9:hover h2, figure.hover-effect9:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}